.HOME {
    &__hero {
        display: flex;
        justify-content: center;
        margin: 20px 170px;

        &__news1 {
            background: url("/hero1.jpg");
            background-size: cover;
            background-position: center;
            width: 628px;
            height: 610px;
            border-radius: 5px;
            color: white;
            display: inline-block;
            margin-right: 10px;
            padding: 10px 20px;
        }

        &__sale1 {
            background: url("/hero2.jpg");
            background-size: cover;
            background-position: center;
            width: 630px;
            height: 300px;
            border-radius: 5px;
            color: white;
            display: inline-block;
            margin-bottom: 10px;
            padding: 10px 20px;
        }

        &__news2 {
            background: url("/hero3.jpg");
            background-size: cover;
            background-position: center;
            width: 290px;
            height: 282px;
            border-radius: 5px;
            color: white;
            display: inline-block;
            margin-right: 10px;
            padding: 10px 20px;
        }

        &__sale2 {
            background: url("/hero4.jpg");
            background-size: cover;
            background-position: center;
            width: 290px;
            height: 282px;
            border-radius: 5px;
            color: white;
            display: inline-block;
            padding: 10px 20px;
        }
    }

    &__reviews {
        margin: 20px 170px;

        &__container {
            display: flex;
            justify-content: center;
        }

        &__rating {
            background-color: #15c6b8;
            width: 80px;
            border-radius: 3px;
            padding: 3px;
        }

        &-1 {
            background: url("/review1.jpg");
            background-size: cover;
            background-position: center;
            width: 290px;
            height: 282px;
            border-radius: 5px;
            color: white;
            display: inline-block;
            margin-right: 10px;
            padding: 10px 20px;
        }

        &-2 {
            background: url("/review2.jpg");
            background-size: cover;
            background-position: center;
            width: 290px;
            height: 282px;
            border-radius: 5px;
            color: white;
            display: inline-block;
            margin-right: 10px;
            padding: 10px 20px;
        }

        &-3 {
            background: url("/review3.jpg");
            background-size: cover;
            background-position: center;
            width: 290px;
            height: 282px;
            border-radius: 5px;
            color: white;
            display: inline-block;
            margin-right: 10px;
            padding: 10px 20px;
        }

        &-4 {
            background: url("/review4.jpg");
            background-size: cover;
            background-position: center;
            width: 290px;
            height: 282px;
            border-radius: 5px;
            color: white;
            display: inline-block;
            padding: 10px 20px;
        }
    }

    &__news {
        margin: 0 170px;

        &__container {
            img {
                display: inline-block;
                width: 328px;
            }

            &__text {
                display: inline-block;
                width: 410px;
                margin-left: 20px;
            }
        }
    }

    &__sale {
        background-color: #fafafa;
        margin-bottom: 20px;

        &__title {
            margin: 20px 170px;
            color: red;
        }

        &__container {
            display: flex;
            justify-content: center;
        }

        &-1 {
            background: url("/hero4.jpg");
            background-size: cover;
            background-position: center;
            width: 290px;
            height: 282px;
            border-radius: 5px;
            color: white;
            display: inline-block;
            margin-right: 10px;
            padding: 10px 20px;
        }

        &-2 {
            background: url("/sale1.jpg");
            background-size: cover;
            background-position: center;
            width: 290px;
            height: 282px;
            border-radius: 5px;
            color: white;
            display: inline-block;
            margin-right: 10px;
            padding: 10px 20px;
        }

        &-3 {
            background: url("/hero2.jpg");
            background-size: cover;
            background-position: center;
            width: 290px;
            height: 282px;
            border-radius: 5px;
            color: white;
            display: inline-block;
            margin-right: 10px;
            padding: 10px 20px;
        }

        &-4 {
            background: url("/sale2.jpg");
            background-size: cover;
            background-position: center;
            width: 290px;
            height: 282px;
            border-radius: 5px;
            color: white;
            display: inline-block;
            padding: 10px 20px;
        }
    }
}