.HERO {
    display: flex;
    justify-content: center;
    margin: 20px 170px;

    &__post {
        border-radius: 5px;
        color: white;
        display: inline-block;
        margin-right: 10px;
        padding: 10px 20px;
        position: relative;

        &__title {
            position: absolute;
            bottom: 30px;
        }

        &__type {
            letter-spacing: 2px;
            font-size: 12px;
        }

        &__author {
            position: absolute;
            bottom: 0;
            font-size: 14px;
        }

        &-big {
            width: 628px;
            height: 610px;
        }

        &-medium {
            width: 630px;
            height: 300px;
            margin-bottom: 10px;
        }

        &-small {
            width: 290px;
            height: 282px;
        }
    }
}