$break-tablet: 768px;

.SALE {
    background-color: rgb(250, 250, 250);
    margin-bottom: 20px;
    padding: 10px 0;

    &__title {
        margin: 20px 170px;
        color: red;

        @media screen and (max-width: $break-tablet) {
            margin: 10px 100px;
        }
    }

    &__swiper {
        display: flex;

        &__button {
            background-color: transparent;
            border: none;
            filter: opacity(30%);
        }

        &__button:focus {
            outline: none;
        }

        &__container {
            display: flex;
            justify-content: center;
            padding-bottom: 30px;

            &__ad {
                background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
                background-size: cover;
                background-position: center;
                width: 290px;
                height: 282px;
                border-radius: 5px;
                color: white;
                display: inline-block;
                margin-right: 10px;
                padding: 10px 20px;
                position: relative;

                @media screen and (max-width: $break-tablet) {
                    width: 122px;
                    height: 142px;
                    margin-right: 5px;
                    padding: 5px 10px;
                }

                &__title {
                    position: absolute;
                    bottom: 20px;
                    font-size: 30px;

                    @media screen and (max-width: $break-tablet) {
                        font-size: 15px;
                        bottom: 0;
                    }
                }
            }
        }
    }
}