$break-tablet: 768px;

.NEWSPHONES__mobile-phones {
    display: inline-block;
    background-color: white;
    width: 20%;
    height: 400px;
    margin-top: 16px;
    padding: 20px;

    @media screen and (max-width: $break-tablet) {
        width: 26%;
        height: 320px;
    }

    &__title {
        margin-bottom: 20px;

        @media screen and (max-width: $break-tablet) {
            font-size: 14px;
        }

        &-new {
            background-color: #15c6b8;
            color: white;
            border-radius: 3px;
            padding: 2px;
            font-size: 10px;
            margin-right: 10px;
        }
    }

    &__phones {

        &-phone {
            display: flex;
            align-items: center;

            &__img {
                width: 60px;
                display: inline-block;

                @media screen and (max-width: $break-tablet) {
                    width: 40px;
                }
            }

            &__info {
                display: inline-block;

                @media screen and (max-width: $break-tablet) {
                    font-size: 12px;
                }

                &__title {
                    margin: 5px 0;
                }
            }

            &__price {
                color: #15c6b8;
            }
        }
    }
}