@import "../../utilities/variables";

.NEWSPHONES {
    &__mobile-phones {
        display: flex;
        flex-direction: column;
        flex: 1;

        &__title {
            margin: 16px 0;
            font-size: 1.5vw;
            display: flex;
            align-items: center;

            @media screen and (max-width: $break-tablet) {
                font-size: 2.5vw;
            }

            @media screen and (max-width: $break-mobile) {
                font-size: 3.5vw;
            }

            &-new {
                background-color: #15c6b8;
                color: white;
                border-radius: 3px;
                padding: 2px;
                font-size: 1vw;
                margin-right: 10px;


                @media screen and (max-width: $break-tablet) {
                    font-size: 1.5vw;
                }

                @media screen and (max-width: $break-mobile) {
                    font-size: 2vw;
                }
            }
        }

        &__phones {
            display: flex;
            flex-direction: column;


            @media screen and (max-width: 945px) {
                flex-direction: row;
            }

            @media screen and (max-width: $break-tablet) {
                flex-wrap: wrap;
            }

            &-phone {
                display: flex;
                align-items: center;
                flex: 1;
                cursor: pointer;
                font-size: 1.5vw;

                @media screen and (max-width: 945px) {
                    flex: 1 0 21%;
                }

                @media screen and (max-width: $break-tablet) {
                    flex: 1 0 42%;
                    font-size: 2.5vw;
                }

                &__img {
                    width: 7vw;

                    @media screen and (max-width: $break-tablet) {
                        width: 15vw;
                    }
                }

            }

            &-phone:hover {
                background-color: rgb(250, 250, 250);
                border-radius: 5px;
            }

            &-phone:hover img {
                opacity: 0.8;
            }

            &__break {
                @media screen and (max-width: $break-tablet) {
                    display: none;
                }
            }
        }
    }
}