@import "../../utilities/variables";

.HEADER {
  background-color: white;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    @media screen and (max-width: $break-tablet) {
      display: none;
    }

    &__logo {
      margin-left: 74px;
      margin-top: 10px;
    }

    &__search {
      margin-right: 20px;
      background-color: #d9d9d9;
      border-radius: 12px;
      padding: 10px;
      display: flex;

      @media screen and (max-width: $break-tablet) {
        background-color: white;
      }

      &__input {
        border: none;
        background-color: #d9d9d9;

        @media screen and (max-width: $break-tablet) {
          background-color: white;
        }
      }

      &__input:focus {
        outline: none;
      }
    }

    &__search:focus {
      outline: none;
    }
  }

  &__navbar {
    background: linear-gradient(90deg, #15c6b8 0%, #34d364 100%);
    display: flex;
    height: 50px;
    padding-left: 170px;
    justify-content: space-between;
    align-items: stretch;

    @media screen and (max-width: $break-tablet) {
      padding-left: 0;
      background: none;
      height: 70px;
    }

    &__menu {
      display: flex;
      width: 85%;
      justify-content: space-between;

      @media screen and (max-width: $break-tablet) {
        font-size: 12px;
        width: 80%;
      }

      &__link-container {
        display: flex;
        align-items: center;

        &__link {
          text-decoration: none;
          color: white;

          @media screen and (max-width: $break-tablet) {
            padding: 12px 5px;
          }
        }
      }

      &__link-container:hover {
        border-bottom: 3px solid white;
        padding-top: 3px;

        @media screen and (max-width: $break-tablet) {
          padding-top: 0;
        }
      }

      &__link-container:nth-child(1) {
        border-bottom: 3px solid white;
        padding-top: 3px;
      }

      &__link-container:nth-child(2) {
        @media screen and (max-width: $break-tablet) {
          border-bottom: 3px solid white;
        }
      }
    }

    &__icons {
      @media screen and (max-width: $break-tablet) {
        display: none;
      }

      &-icon {
        margin-top: 15px;
        margin-right: 8px;
      }
    }
  }
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 24px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #15c6b8;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  padding: 2em 1.5em 0;
  font-size: 1.15em;
  overflow: unset !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #15c6b8;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}