@import "../../utilities/variables";

.FOOTER {
    background-color: rgb(245, 245, 245);
    padding: 20px 50px;
    color: #7c7c7c;

    @media screen and (max-width: $break-tablet) {
        padding: 20px 30px;
    }

    @media screen and (max-width: $break-mobile) {
        padding: 20px;
    }

    &__content {
        margin: 0 auto;
        display: flex;

        @media screen and (max-width: $break-tablet) {
            flex-direction: column;
            align-items: center;
        }

        @media screen and (max-width: $break-mobile) {
            font-size: 12px;
        }

        &__logo-container {
            flex: 1;
            cursor: pointer;

            @media screen and (max-width: $break-tablet) {
                display: none;
            }
        }

        &__info {
            display: inline-block;
            flex: 5;

            @media screen and (max-width: $break-tablet) {
                margin-bottom: 20px;
            }

            &__link {
                text-decoration: none;
                color: gray;
                cursor: pointer;
            }
        }

        &__media {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;

            &__link {
                background-color: rgb(223, 222, 222);
                border-radius: 50%;
                width: 32px;
                height: 32px;
                margin-right: 7px;
                cursor: pointer;

                &__icon {
                    transform: translate(50%, 50%);
                }
            }
        }
    }
}