.NEWS {
    margin-left: 170px;
    display: inline-block;

    &__container {
        display: flex;
        margin-bottom: 20px;

        img {
            display: inline-block;
            width: 328px;
        }

        &__text {
            display: inline-block;
            width: 410px;
            margin-left: 20px;
        }
    }
}