$break-tablet: 768px;
$break-mobile: 426px;

.NEWSPHONES__news {
    display: inline-block;

    &__container {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        @media screen and (max-width: $break-mobile) {
            flex-wrap: wrap;
        }

        &__image {
            display: inline-block;
            width: 265px;

            @media screen and (max-width: $break-tablet) {
                width: 137px;
                height: 110px;
            }


        }

        &__text {
            display: inline-block;
            width: 410px;
            margin-left: 20px;

            @media screen and (max-width: $break-tablet) {
                font-size: 10px;
                width: 205px;
            }

            @media screen and (max-width: $break-mobile) {
                margin-left: 0;
                width: auto;
            }
        }
    }
}