@import "./utilities/variables";

.NEWSPHONES {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;


  @media screen and (max-width: 955px) {
    flex-wrap: wrap;
  }
}