@import "./utilities/variables";

.NEWSPHONES {
  display: flex;
  justify-content: space-between;
  margin: 0 170px;
  flex-wrap: wrap;

  @media screen and (max-width: $break-tablet) {
    margin: 0 100px;
  }

  @media screen and (max-width: $break-mobile) {
    margin: 0 50px;
  }
}